/target

# Ignore Xcode test results
**/TestResults.xcresult/
**/TestResults*.xcresult/

# Ignore generated iOS artifacts
/ios/RustCommsFFI.xcframework/
/ios/BingleTestFFI.xcframework/
/ios/Package.swift


# Ignore generated spec artifacts
/generated/

# Ignore generated DAPP artifcats
/dapp/smart_contracts/artifacts/
cd ..
