/target
/tmp

# Ignore Xcode test results
**/TestResults.xcresult/
**/TestResults*.xcresult/

# Ignore generated iOS artifacts
/ios/RustCommsFFI.xcframework/
/ios/BingleTestFFI.xcframework/
/ios/Package.swift

# Ignore generated spec artifacts
/generated/

# Ignore generated DAPP artifcats
/dapp/smart_contracts/artifacts/

/ios/
.junie
/bingle_webserver/ts-client/

**/.build_exit
**/.test_exit
**/.test_log
**/test_output.txt

**/browser_local.json

# Ignore bingle_jsi generated/built artifacts
/bingle_jsi/ios/generated/
/bingle_jsi/ios/BingleJsi.xcframework/
/bingle_jsi/android/generated/
/bingle_jsi/android/src/main/jniLibs/
/bingle_jsi/node_modules/
